<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Buyer List</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
</head>
<body >
<div th:replace="fragments :: fragment_top_menu"/>
<div th:replace="fragments :: fragment_sidebar"></div>
<div class="main text-center">
    <div>
        <h1>Buyer List</h1>
    </div>

    <div class="m-2" >
        <a class="btn btn-large btn-primary" th:href="@{/buyer/showNewBuyerForm}"><i class="fas fa-user-plus"></i>Add New Buyer</a>
    </div>
    <div class="rounded-circle">
        <table class="table table-bordered ">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="buyer : ${buyers}">
                <tr>
                    <th th:text="${buyer.firstName} + ' ' + ${buyer.lastName}">
                    <th th:text="${buyer.address}">
                    <th th:text="${buyer.email}">
                    <th th:text="${buyer.dateBirth}">
                    <th th:text="${buyer.phoneNumber}">
                    <th>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Choose Action
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" th:href="@{'/buyer/showBuyerInfo/' + ${buyer.id}}">Show Information</a></li>
                                <li><a class="dropdown-item" th:href="@{'/buyer/showEditBuyerForm/' + ${buyer.id}}">Edit</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a></li>
                            </ul>
                        </div>

                    </th>
                </tr>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h5 class="modal-title text-white">Deleting confirmation</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure that you want to delete <br> [[${buyer.firstName}]] [[${buyer.lastName}]]?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form th:action="@{'/buyer/delete/' + ${buyer.id}}">
                                    <button type="submit" class="btn btn-primary" >Confirm</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="fragments :: fragment_script"></div>
</body>
</html>