<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:fragment="fragment_header">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/ecomm.css}"/>
</head>
<body>

<!--Sidebar -->
<div th:fragment="fragment_sidebar">
    <a href="#">About</a>
    <a th:href="@{/buyer/list}">
        List Buyers (Admin only)
    </a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<!-- Page content -->
<div class="main">
    ...
</div>

</body>
</html>