<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Shop</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
</head>
<body>

<div th:replace="fragments :: fragment_sidebar"></div>
<div class="main text-center">
    <h2>Add New Shop</h2>

    <form th:action="@{/shop/save}" method="post" th:object="${sessionBuyer}" style="max-width: 650px; margin: 0 auto;">

        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{shop.name}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                    <input type="tel" th:field="*{shop.phoneNumber}" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="080-1234-5678" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{shop.address}" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea type="textarea" th:field="*{shop.description}" class="form-control"/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Submit</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>

        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/buyer/home}]]"
   }
</script>
</body>
</html>