<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your home page</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyer-home-page.css}"/>
</head>
<body>

<div th:replace="fragments :: fragment_sidebar"></div>
<div th:replace="fragments :: fragment_top_menu"></div>

<!-- Page content -->
<div class="main">

    <!-- TAB -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="buyer-tab" data-bs-toggle="tab" data-bs-target="#buyer" type="button"
                    role="tab" aria-controls="buyer" aria-selected="true">Buyer
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="shop-tab" data-bs-toggle="tab" data-bs-target="#shop" type="button" role="tab"
                    aria-controls="profile" aria-selected="false">Shop
            </button>
        </li>
        <th:block th:if="${buyer.shop != null}">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">List of Products
                </button>
            </li>
        </th:block>
    </ul>



    <!-- CONTENT OF TAB -->
    <div class="tab-content m-2" id="myTabContent">
        <!-- BUYER TAB CONTENT-->
        <div class="tab-pane fade show active" id="buyer" role="tabpanel" aria-labelledby="buyer-tab">
            <form th:action="@{'/buyer/update/' + ${buyer.id}}" th:object="${buyer}" method="post">
                <div class="container text-center">
                    <div class="row ">
                        <div class="col border border-dark bg-dark text-white">
                            Buyer Information
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            First Name
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_first_name" class="text-center w-100" disabled type="text" th:field="*{firstName}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            Last Name
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_last_name" class="text-center w-100" disabled type="text" th:field="*{lastName}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            E-mail
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_email" class="text-center w-100" disabled type="email" th:field="*{email}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            Address
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_address" class="text-center w-100" disabled type="text" th:field="*{address}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            Phone Number
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_phone_number" class="text-center w-100" disabled type="tel" th:field="*{phoneNumber}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            Date of Birth
                        </div>
                        <div class="col border border-dark">
                            <input id="buyer_date_birth" class="text-center w-100" disabled type="date" th:field="*{dateBirth}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            Points
                        </div>
                        <div class="col border border-dark">
                            [[${buyer.point}]]
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="save_buyer_btn" type="submit" disabled class="btn btn-primary">Save changes</button>
                    <button id="edit_buyer_btn" type="button" class="btn btn-primary">Enable edit</button>
                </div>
            </form>
        </div>




        <!-- SHOP TAB CONTENT -->
        <div class="tab-pane fade" id="shop" role="tabpanel" aria-labelledby="shop-tab">
            <form th:action="@{'/shop/update/' + ${buyer.shop.id}}" th:object="${buyer}" method="post">
                <div class="container text-center">
                    <div class="row">
                        <div class="col border border-dark bg-dark text-white">
                            Shop Information
                        </div>
                    </div>
                    <th:block th:if="${buyer.shop == null}">
                        <div class="row">
                            <div class="col border border-dark">
                                No shop opened
                            </div>
                            <div class="m-2">
                                <a class="h3" th:href="@{'/shop/showNewShopForm/' + ${buyer.id}}">Add New Shop</a>
                            </div>
                        </div>

                    </th:block>
                    <th:block th:if="${buyer.shop != null}">
                        <div class="row">
                            <div class="col border border-dark">
                                Name
                            </div>
                            <div class="col border border-dark">
                                <input id="shop_name" class="text-center w-100" disabled type="text" th:field="*{shop.name}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col border border-dark">
                                Description
                            </div>
                            <div class="col border border-dark">
                                <input id="shop_description" class="text-center w-100" disabled type="text" th:field="*{shop.description}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col border border-dark">
                                Phone Number
                            </div>
                            <div class="col border border-dark">
                                <input id="shop_phone_number" class="text-center w-100" disabled type="text" th:field="*{shop.phoneNumber}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col border border-dark">
                                Address
                            </div>
                            <div class="col border border-dark">
                                <input id="shop_address" class="text-center w-100" disabled type="text" th:field="*{shop.address}">
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="save_shop_btn" type="submit" disabled class="btn btn-primary">Save changes</button>
                            <button id="edit_shop_btn" type="button" class="btn btn-primary">Enable edit</button>
                        </div>
                    </th:block>
                </div>
            </form>
        </div>
        <!-- PRODUCT TAB CONTENT -->
        <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">
            <th:block th:if="${buyer.shop != null}">
                <th:block th:if="${buyer.shop.products.empty}">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col border border-dark">
                                No product available
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${!buyer.shop.products.empty}">
                    <table class="table table-bordered ">
                        <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Main Image</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="product : ${buyer.shop.products}">
                            <tr>
                                <th th:text="${product.name}"></th>
                                <th th:text="${product.category.name}"></th>
                                <th>
                                    <img style="width: 18rem;" class="img-thumbnail" th:src="'data:image/png;base64,' + ${product.mainImageAsBase64}">
                                </th>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
<div th:replace="fragments :: fragment_script"></div>
<script th:src="@{/js/buyer-home-page.js}"></script>
</body>
</html>