<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your home page</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyer-home-page.css}"/>
</head>
<body>

<div th:replace="fragments :: fragment_sidebar"></div>
<div th:replace="fragments :: fragment_top_menu"></div>

<!-- Page content -->
<div class="main">

    <!-- TAB -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button th:class="'nav-link ' + ${activeTab == 'buyer' ? 'active' : ''}" id="buyer-tab" data-bs-toggle="tab" data-bs-target="#buyer" type="button"
                    role="tab" aria-controls="buyer" aria-selected="false">My Information
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button th:class="'nav-link ' + ${activeTab == 'shop' ? 'active' : ''}" id="shop-tab" data-bs-toggle="tab" data-bs-target="#shop" type="button" role="tab"
                    aria-controls="shop" aria-selected="true">My Shop
            </button>
        </li>
        <th:block th:if="${loggedBuyer.shop != null}">
            <li class="nav-item" role="presentation">
                <button th:class="'nav-link ' + ${activeTab == 'product' ? 'active' : ''}" id="product-tab" data-bs-toggle="tab" data-bs-target="#product" type="button"
                        role="tab" aria-controls="product" aria-selected="false">My Product
                </button>
            </li>
        </th:block>
    </ul>

    <!-- CONTENT OF TAB -->
    <div class="tab-content m-2" id="myTabContent">
        <!-- BUYER TAB CONTENT-->
        <div th:replace="buyer/fragment/fragment-buyer-tab :: fragment_tab_content"></div>
        <!-- SHOP TAB CONTENT -->
        <div th:replace="buyer/fragment/fragment-shop-tab :: fragment_tab_content"></div>

        <!-- PRODUCT TAB CONTENT -->
        <div th:replace="buyer/fragment/fragment-product-tab :: fragment_tab_content"></div>
    </div>
</div>
<div th:replace="fragments :: fragment_script"></div>
<script th:src="@{/js/buyer-home-page.js}"></script>
</body>
</html>