<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Buyer List</title>
</head>
<body>
    <h1>Buyers registred</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Points</th>
            <th>Delete</th>
        </tr>
        <tr th:each="buyer : ${buyers}">
            <th th:text="${buyer.id}"/>
            <th th:text="${buyer.name}"/>
            <th th:text="${buyer.adress}"/>
            <th th:text="${buyer.email}"/>
            <th th:text="${buyer.dateBirth}"/>
            <th th:text="${buyer.point}"/>
            <th>
                <form action="#" th:action="${buyer.id}" th:method="delete" >
                    <input type="submit" value="delete" />
                </form>
            </th>
        </tr>
    </table>
</body>
</html>