<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping History</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
</head>
<body>

<div th:replace="fragments :: fragment_sidebar"></div>
<div th:replace="fragments :: fragment_top_menu"></div>
<div class="main">
    <form th:action="@{/buyer/changePassword}" style="max-width: 650px; margin: 0 auto;" method="post">
        <div class="border border-secondary rounded p-3 m-3">
            <div class="mb-3">
                <label for="current_pw" class="form-label">Current password:</label>
                <input type="password" class="form-control" id="current_pw" name="currentPassword" required>
            </div>
            <div class="mb-3">
                <label for="new_pw" class="form-label">New password:</label>
                <input type="password" class="form-control" id="new_pw" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label for="re_pw" class="form-label">Reenter password:</label>
                <input type="password" class="form-control" id="re_pw" required>
            </div>
            <button class="btn btn-primary" type="submit">Change</button>
        </div>
    </form>
</div>
<div th:replace="fragments :: fragment_script"></div>
<script>
   let password = document.getElementById("new_pw");
   let confirm_password = document.getElementById("re_pw");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>