<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping History</title>
    <th:block th:replace="fragments :: fragment_css"></th:block>
</head>
<body>

<div th:replace="fragments :: fragment_sidebar"></div>
<div th:replace="fragments :: fragment_top_menu"></div>
<div class="main text-center">
    <h1>Shopping History</h1>
    <th:block th:each="order : ${orders}">
        <div class="row">
            <label th:text="${order.payment.paymentMethod}"></label>
        </div>
    </th:block>
</div>
<div th:replace="fragments :: fragment_script"></div>
</body>
</html>